<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles2.css">
    <title>Mighty Ducks Hockey League</title>
  </head>
  <body>
    <header>
      <h1>Mighty Ducks Hockey League</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="../views/about.html">About MDHL</a>
        <a href="../views/game.info.html">Game Information</a>
        <a href="../views/registration.html">Registration Page</a>
        <a href="../views/rules.html">Rules & Policies</a>
        <a href="#">Contact</a>
      </nav>
      <img class="imageDesign" src="../assets/design1_image1.jpg" alt="Design image 1">
    </header>
    <main>
      <div class="container">
        <div class="second-title">
          <h2>Contact</h2>
        </div>
        <div class="event">
          <p>Please email us at <a href="mailto:mdhl@chihockey.org">mdhl@chihockey.org</a> <br> We reply to your email as soon as we can.</p>
        </div>
      </div>
      <footer>
        <img src="../assets/LogoMightyducks-01.png" alt="Logo">
      </footer>
    </main>
  </body>
</html>
